
.container {
    margin: 0px;
    padding: 0px;
}


.jumbotron {
    background-color: lightgrey;
    padding: 12px;
}


.mars-news {
    display: table;
    border-collapse: collapse;
    width: 100%;
}


.ntext {
    margin: 24px;
    padding-left: 0px 0px 0px 12px;
    width: 100%;
}


.nimage {
    display: table-cell;
    vertical-align: top;
}


.nimage img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid;
}

.mars-featured-image {
    display: table;
    border-collapse: collapse;
    width: 100%;
}




.mars-hemispheres {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 12px;
}

.thumbnail {
    display: table-cell;
    vertical-align: top;
    border: 5px solid;
}

.thumbnail img {
    display: block;
    width: 100%;
    height: auto;
}