/* Whole Page */
/* .body {
    width: 100%
} */


.container-fluid {
    padding: 0px;
}


/* Header */
.jumbotron {
    background-color: lightgrey;
    padding: 12px;
}

.btn {
    background-color: orange;
    color: black;
}

/* NASA News */
.mars-news {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.ntext {
    margin: 24px;
    padding-left: 0px 0px 0px 12px;
    width: 100%;
}

.nimage {
    display: table-cell;
    vertical-align: top;
}

.nimage img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    border: 1px solid;
    border-color: none;
}


/* NASA Featured Image */
.mars-featured-image {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 12px;
    padding-left: 0px 0px 0px 12px;
}

.feature {
    display: table-cell;
    vertical-align: top;
}

.feature img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    border: 1px solid;
}

.mars-facts {
    display: table-cell;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: lightgrey;

}

th {
    text-align: left;
    font-weight: bold;
    background-color: orange;
    color: black;
}


/* Mars Hemispheres */
.mars-hemispheres {
    border-collapse: collapse;
    width: 100%;
    margin: 55px;
    padding-left: 0px 0px 0px 12px;
}

.thumbnail {
    vertical-align: top;
    border: 1px solid;
    margin: 15px;
    padding: 12px;
    font: auto;
}

.thumbnail img {
    display: block;
    width: 100%;
    height: auto;
}